<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Евклид - проектные системы</title> 

  <link rel="preload" href="src/fonts/Montserrat-Regular.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="src/fonts/Montserrat-SemiBold.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="src/fonts/Montserrat-Bold.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="src/fonts/Montserrat-ExtraBold.woff2" as="font" type="font/woff2" crossorigin />

  <link rel="stylesheet" href="index.css"/>
</head>

<body>
  <header>
    <div class="container header-bar">
      <img class="header-logo" src="src/img/logo-black.png" alt="Евклид - проектные системы" />

      <nav class="header-nav">
        <ul class="header-nav__list">
          <li class="header-nav__item">
            <a class="header-nav__link" href="#aboutAnchor">О нас</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="#summaryAnchor">Проекты</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="#todoAnchor">Этапы</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="#questionAnchor">Отзывы</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="#contactAnchor">Контакты</a>
          </li>
        </ul>
      </nav>

      <button class="search-btn" type="button" aria-label="кнопка поиска"></button>

      <button class="burger" type="button" aria-label="развернуть меню">
        <span class="burger__link" title="Развернуть меню"></span>
      </button>
    </div>
  </header>

  <main class="main">
    <div class="container">
      <section class="intro">
        <h1 class="intro__header">Проектные решения любой сложности</h1>

        <p class="intro__desk">Есть над чем задуматься: базовые сценарии поведения пользователей и&nbsp;по сей день остаются уделом проектантов</p>

        <button class="btn-link" type="button">Заказать расчёт</button>
      </section>

      <section id="aboutAnchor" class="about">
        <h2 class="section_heading about__heading">О нас</h2>

        <p class="about__desk"> Также как перспективное планирование создаёт необходимость включения в&nbsp;производственный план целого ряда внеочередных мероприятий с&nbsp;учётом комплекса экспериментов, поражающих по&nbsp;своей масштабности и&nbsp;грандиозности. А&nbsp;также диаграммы связей могут быть описаны максимально подробно. Мы&nbsp;вынуждены отталкиваться от&nbsp;того, что убеждённость некоторых оппонентов требует от&nbsp;нас анализа как самодостаточных, так и&nbsp;внешне зависимых концептуальных решений! Следует отметить, что высококачественный прототип будущего проекта предопределяет высокую востребованность позиций, занимаемых участниками в&nbsp;отношении поставленных задач. Мы&nbsp;вынуждены отталкиваться от&nbsp;того, что высококачественный прототип будущего проекта способствует повышению качества экспериментов.</p>

        <div class="summary">
          <div class="preview">
            <div class="preview__container">
              <p class="preview__desk">Принимая во внимание показатели успешности, перспективное планирование способствует подготовке и реализации новых принципов.</p>

              <a class="preview__btn" href="#">Подробнее</a>
            </div>
          </div>

          <ul id="summaryAnchor" class="summary__list">
            <li class="summary__item">
              <p>
                <b class="summary__item__header">Консультация с широким активом</b>
                
                <br>А также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для как самодостаточных, так и внешне зависимых концептуальных решений.
              </p>
            </li>
            <li class="summary__item">
              <p>
                <b class="summary__item__header">В своём стремлении повысить</b>

                <br>Качество жизни, они забывают, что сплочённость команды профессионалов представляет собой интересный эксперимент проверки прогресса профессионального сообщества.
              </p>
            </li>
          </ul>
        </div>
      </section>

      <section class="todo">
        <h2 id="todoAnchor" class="section_heading todo__heading">Как мы работаем</h2>

        <div class="btn-group">
          <button class="btn-group__step active" type="button">1 шаг</button>

          <button class="btn-group__step" type="button">2 шаг</button>

          <button class="btn-group__step" type="button">3 шаг</button>

          <button class="btn-group__step" type="button">4 шаг</button>
        </div>

        <article class="todo__article">
          <h3 class="todo__article__heading">Проводим консультацию</h3>

          <p class="todo__article__desk">Влечет за&nbsp;собой процесс внедрения&nbsp;и модернизации приоритизации разума над эмоциями. В&nbsp;рамках спецификации современных стандартов, некоторые особенности внутренней политики будут объективно рассмотрены соответствующими инстанциями. А также представители современных социальных резервов, инициированные исключительно синтетически, ограниче исключительно образом мышления. Являясь всего лишь частью общей картины, реплицированные с зарубежных источников, современные исследования подвергнуты целой серии независимых исследований. Кстати, стремящиеся вытеснить традиционное производство, нанотехнологии освещают чрезвычайно интересные особенности картины в&nbsp;целом, однако конкретные выводы, разумеется, призваны к&nbsp;ответу.</p>

          <a class="btn-link todo__article__link" href="#">Подробнее</a>

          <a class="link-contract" href="#">Договор</a>
        </article>
      </section>

      <section class="question">
        <h2 id="questionAnchor" class="section_heading question__heading">Часто задаваемые вопросы</h2>

        <ul class="question__list">
          <li class="question__item">
            <button class="question-btn" type="button">
              <span class="question__desk">Из чего формируется конечная стоимость проекта?</span>
  
              <span class="question__expand"></span>
            </button>            
          </li>
          <li class="question__item">
            <button class="question-btn" type="button">
              <span class="question__desk">У меня есть свой проект. Сможем ли мы его доработать / реализовать?</span>

              <span class="question__expand"></span>
            </button>
          </li>
          <li class="question__item">
            <button class="question-btn" type="button">
              <span class="question__desk">Я выбираю между разными компаниями. В чём ваше отличие?</span>

              <span class="question__expand"></span>
            </button>
          </li>
          <li class="question__item">
            <button class="question-btn" type="button">
              <span class="question__desk">Могу ли я делегировать вам работу / согласование с подрядчиком / организацией?</span>

              <span class="question__expand"></span>
            </button>
          </li>
          <li class="question__item">
            <button class="question-btn" type="button">
              <span class="question__desk">Могу ли я вернуть деньги на каком-либо из этапов работ?</span>

              <span class="question__expand"></span>
            </button>
          </li>
        </ul>
      </section>
    </div>
  </main>

  <footer class="footer">
    <div class="container footer-container">
      <img class="footer__logo" src="src/img/logo-white.png" alt="Евклид - проектные системы" />

      <p id="copyAnchor" class="copy">Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: разбавленное изрядной долей эмпатии, рациональное мышление позволяет оценить значение модели развития. Таким образом, консультаци с широким активом обеспечивает широкому кругу (специалистов) участие в формировании стандартных подходов.</p>

      <ul class="social">
        <li class="social__item">
          <a href="www.facebook.com" class="social__link facebook" target="_blank" aria-label="ссылка на страницу социальной сети facebook"></a>
        </li>
        <li class="social__item">
          <a href="www.vk.com" class="social__link vk" target="_blank" aria-label="ссылка на страницу социальной сети vk"></a>
        </li>
        <li class="social__item">
          <a href="www.instagram.com" class="social__link instagram" target="_blank" aria-label="ссылка на страницу социальной сети instagram"></a>
        </li>
      </ul>

      <section id="contactAnchor" class="request">
        <form class="request-form" action="https://jsonplaceholder.typicode.com/posts" method="POST">
          <h2 class="section_heading request-form__heading">Оставить заявку</h2>
  
          <input class="form_input" type="text" name="fullName" required placeholder="Фамилия, имя и отчество*"/>
  
          <input class="form_input" type="email" name="email" required placeholder="E-mail*"/>
  
          <textarea class="request-form__message form_input" name="message" rows="4" placeholder="Сообщение"></textarea>
  
          <button class="request-form__button btn-link" type="submit">Отправить данные</button>
  
          <label class="confirm">
            <input class="confirm__check" type="checkbox" name="confirm" required/>
            
            <span class="confirm__desk">Согласен на обработу данных</span>
          </label>
        </form>
      </section>

      <ul class="footer-nav">
        <li class="footer-nav__item">
          <a class="footer-nav__link" href="#aboutAnchor">О нас</a>
        </li>
        <li class="footer-nav__item">
          <a class="footer-nav__link" href="#summaryAnchor">Проекты</a>
        </li>
        <li class="footer-nav__item">
          <a class="footer-nav__link" href="#questionAnchor">Отзывы</a>
        </li>
        <li class="footer-nav__item">
          <a class="footer-nav__link" href="#contactAnchor">Договор оферты</a>
        </li>
        <li class="footer-nav__item">
          <a class="footer-nav__link" href="#contactAnchor">Договор подряда</a>
        </li>
        <li class="footer-nav__item">
          <a class="footer-nav__link" href="#copyAnchor">Конфиденциальность</a>
        </li>
        <li class="footer-nav__item">
          <a class="footer-nav__link" href="#todoAnchor">Партнёрское соглашение</a>
        </li>
      </ul>
    </div>
  </footer>
</body>

</html>