<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Евклид - проектные системы</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <header>
    <div class="container header-bar">
      <img class="header-logo" src="img/logo-black.png" alt="Евклид - проектные системы">

      <nav class="header-nav">
        <ul class="header-nav__list">
          <li class="header-nav__item">
            <a class="header-nav__item__link text_nav" href="#">О нас</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__item__link text_nav" href="#">Проекты</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__item__link text_nav" href="#">Этапы</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__item__link text_nav" href="#">Отзывы</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__item__link text_nav" href="#">Контакты</a>
          </li>
        </ul>
      </nav>

      <button class="search-btn" type="button" aria-label="кнопка поиска">
        <svg width="26" height="26" viewbox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect class="search_rect" x="19.5138" y="18.5495" width="8" height="2"
            transform="rotate(45 19.5138 18.5495)" />
          <circle class="search_circle" cx="11.5" cy="11.5" r="10.5" stroke-width="2" />
        </svg>
      </button>

      <button class="header-burger" type="button" aria-label="развернуть меню">
        <span class="header-burger__span"></span>
      </button>
    </div>
  </header>

  <main class="main">
    <div class="container">
      <section class="intro">
        <h1 class="intro__header">Проектные решения любой сложности</h1>

        <p class="intro__desk text_desk">Есть над чем задуматься: базовые сценарии поведения пользователей и по сей день остаются уделом проектантов</p>

        <button class="color-btn text_desk">Заказать расчёт</button>
      </section>

      <section class="about">
        <h2 class="about__heading text_heading">О нас</h2>

        <p class="text_main about__desk">Также как перспективное планирование создаёт необходимость включения в&nbsp;производственный план целого ряда внеочередных мероприятий с&nbsp;учётом комплекса экспериментов, поражающих по&nbsp;своей масштабности и&nbsp;грандиозности. А&nbsp;также диаграммы связей могут быть описаны максимально подробно. Мы&nbsp;вынуждены отталкиваться от&nbsp;того, что убеждённость некоторых оппонентов требует от&nbsp;нас анализа как самодостаточных, так и&nbsp;внешне зависимых концептуальных решений! Следует отметить, что высококачественный прототип 
          <span class="i" title="Что такое прототип?">i</span> будущего проекта предопределяет высокую востребованность позиций, занимаемых участниками в&nbsp;отношении поставленных задач. Мы&nbsp;вынуждены отталкиваться от&nbsp;того, что высококачественный прототип будущего проекта способствует повышению качества экспериментов.
        </p>

        <div class="summary">
          <div class="summary__left">
            <div class="summary__left__container">
              <p class="summary__left__desk text_main-white">Принимая во внимание показатели успешности, перспективное планирование способствует подготовке и реализации новых принципов.</p>

              <a class="summary__left__btn btn-inherit text_main-white" href="#">Подробнее</a>
            </div>
          </div>

          <ul class="summary__right">
            <li class="summary__right__item summary__right__item__one">
              <h3 class="summary__right__item__head text_heding_m">Консультация с широким активом</h3>

              <p class="summary__right__item__desk text_main">А также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для как самодостаточных, так и внешне зависимых концептуальных решений.</p>
            </li>
            <li class="summary__right__item summary__right__item__two">
              <h3 class="summary__right__item__head text_heding_m">В своём стремлении повысить</h3>

              <p class="summary__right__item__desk text_main">Качество жизни, они забывают, что сплочённость команды профессионалов представляет собой интересный эксперимент проверки прогресса профессионального сообщества.</p>
            </li>
          </ul>
        </div>
      </section>

      <section class="todo">
        <h2 class="todo__heading text_heading">Как мы работаем</h2>

        <ul class="step-band">
          <li class="step-band__step">
            <a class="active step-band__step__link text_step" href="#">1 шаг</a>
          </li>
          <li class="step-band__step">
            <a class="step-band__step__link text_step" href="#">2 шаг</a>
          </li>
          <li class="step-band__step">
            <a class="step-band__step__link text_step" href="#">3 шаг</a>
          </li>
          <li class="step-band__step">
            <a class="step-band__step__link text_step" href="#">4 шаг</a>
          </li>
        </ul>

        <article class="todo__article">
          <h3 class="todo__article__heading text_heding_m">Проводим консультацию</h3>

          <p class="todo__article__desk text_main">Влечет за&nbsp;собой процесс внедрения и&nbsp;модернизации приоритизации разума над эмоциями. В&nbsp;рамках спецификации современных стандартов, некоторые особенности внутренней политики будут объективно рассмотрены соответствующими инстанциями. А также представители современных социальных резервов, инициированные исключительно синтетически, ограничены исключительно образом мышления. Являясь всего лишь частью общей картины, реплицированные с&nbsp;зарубежных источников, современные исследования подвергнуты целой серии независимых исследований. Кстати, стремящиеся вытеснить традиционное производство, нанотехнологии освещают чрезвычайно интересные особенности картины в&nbsp;целом, однако конкретные выводы, разумеется, призваны к&nbsp;ответу.</p>

          <a class="todo__article__link color-btn text_main-white" href="#">Подробнее</a>

          <button class="black-btn text_main">Договор</button>
        </article>
      </section>

      <section class="question">
        <h2 class="question__heading text_heading">Часто задаваемые вопросы</h2>

        <ul class="question__list">
          <li class="question__list__item">
            <a href="#" class="question__list__item__link text_heding_m">Из чего формируется конечная стоимость
              проекта?</a>

            <button class="question__list__item__btn" type="button" aria-label="развернуть вопрос"></button>
          </li>
          <li class="question__list__item">
            <a href="#" class="question__list__item__link text_heding_m">У меня есть свой проект. Сможем ли мы его
              доработать / реализовать?</a>

            <button class="question__list__item__btn" type="button" aria-label="развернуть вопрос"></button>
          </li>
          <li class="question__list__item">
            <a href="#" class="question__list__item__link text_heding_m">Я выбираю между разными компаниями. В чём ваше
              отличие?</a>

            <button class="question__list__item__btn" type="button" aria-label="развернуть вопрос"></button>
          </li>
          <li class="question__list__item">
            <a href="#" class="question__list__item__link text_heding_m">Могу ли я делегировать вам работу /
              согласование с подрядчиком / организацией? </a>

            <button class="question__list__item__btn" type="button" aria-label="развернуть вопрос"></button>
          </li>
          <li class="question__list__item">
            <a href="#" class="question__list__item__link text_heding_m">Могу ли я вернуть деньги на каком-либо из
              этапов работ?</a>

            <button class="question__list__item__btn" type="button" aria-label="развернуть вопрос"></button>
          </li>
        </ul>
      </section>
    </div>
  </main>

  <footer class="footer">
    <div class="container footer-container">
      <div class="footer-left">
        <img class="footer-left__logo" src="img/logo-white.png" alt="Евклид - проектные системы">

        <p class="footer-left__desk text_footer">Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: разбавленное изрядной долей эмпатии, рациональное мышление позволяет оценить значение модели развития. Таким образом, консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании стандартных подходов.</p>

        <ul class="social">
          <li class="social__item">
            <a href="www.facebook.com" class="social__item__link facebook" target="_blank"
              aria-label="ссылка на страницу социальной сети facebook"></a>
          </li>
          <li class="social__item">
            <a href="www.vk.com" class="social__item__link vk" target="_blank"
              aria-label="ссылка на страницу социальной сети vk"></a>
          </li>
          <li class="social__item">
            <a href="www.instagram.com" class="social__item__link instagram" target="_blank"
              aria-label="ссылка на страницу социальной сети instagram"></a>
          </li>
        </ul>
      </div>

      <form class="request" action="https://jsonplaceholder.typicode.com/posts" method="POST">
        <h2 class="form__heading text_heading">Оставить заявку</h2>

        <input class="form__full-name form_inpute text_footer" type="text" name="fullName" required
          placeholder="Фамилия, имя и отчество*">

        <input class="form__email form_inpute text_footer" type="email" name="email" required placeholder="E-mail*">

        <textarea class="form__message form_inpute text_footer" name="message" rows="4" placeholder="Сообщение"></textarea>

        <button class="form__button color-btn text_main-white" type="submit">Отправить данные</button>

        <div class="checkbox-container">
          <input id="form-checkbox" class="form__checkbox" type="checkbox" name="checkbox">

          <label class="form__checkbox__label text_footer" for="form-checkbox">Согласен на обработу данных</label>
        </div>
      </form>

      <div class="footer-right">
        <img class="footer-right__logo" src="img/logo-white.png" alt="Евклид - проектные системы">

        <nav class="footer-nav">
          <ul class="footer-nav__list">
            <li class="footer-nav__item">
              <a class="footer-nav__item__link text_nav" href="#">О нас</a>
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__item__link text_nav" href="#">Проекты</a>
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__item__link text_nav" href="#">Отзывы</a>
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__item__link text_nav" href="#">Договор оферты</a>
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__item__link text_nav" href="#">Договор подряда</a>
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__item__link text_nav" href="#">Конфиденциальность</a>
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__item__link text_nav" href="#">Партнёрское соглашение</a>
            </li>
          </ul>
        </nav>

        <ul class="footer-right__social social">
          <li class="social__item">
            <a href="www.facebook.com" class="social__item__link facebook" target="_blank"
              aria-label="ссылка на страницу социальной сети facebook"></a>
          </li>
          <li class="social__item">
            <a href="www.vk.com" class="social__item__link vk" target="_blank"
              aria-label="ссылка на страницу социальной сети vk"></a>
          </li>
          <li class="social__item">
            <a href="www.instagram.com" class="social__item__link instagram" target="_blank"
              aria-label="ссылка на страницу социальной сети instagram"></a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</body>

</html>