.about {
  margin-bottom: 123px;
}

.section__heading {
  margin-bottom: 22px;
  font-size: 48px;
  font-weight: normal;
  line-height: 59px;
}

.about__desk {
  margin-top: 0;
  margin-bottom: 42px;
  padding-right: 30%;
}

@media screen and (max-width: 1790px) {
  .about__desk {
    padding-right: 10%;
  }
}

@media screen and (max-width: 1200px) {
  .about {
    margin-bottom: 62px;
  }

  .about__heading {
    margin-bottom: 25px;
    text-indent: -2px;
  }

  .about__desk {
    margin-bottom: 59px;
    padding-right: 0;
  }
}