.request {
  display: flex;
  order: 4;
  flex-basis: 100%;
  margin-left: 5.5%;
}

.request-form {
  position: relative;
}

.request-form__heading {
  margin-top: 10px;
  margin-bottom: 22px;
  color: #CACACA;
}

.form_input {
  display: block;
  margin-bottom: 24px;
  padding: 23px 0 20px 25px;
  width: 570px;
  outline: none;
  border: none;
  background: #414141;
}

.form_input::placeholder {
  color: #CACACA;
}

.request-form__message {
  padding: 15px 0 16px 25px;
  margin-bottom: 30px;
  line-height: 30px;
}

.request-form__button {
  margin-left: 0;
  margin-right: 24px;
  margin-bottom: 20px;
  padding: 15px 50px 13px 54px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.confirm {
  position: relative;
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.confirm__check {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.confirm__desk {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.confirm__desk::before {
  content: '';
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 2px;
  width: 14px;
  height: 14px;
  border: 1px solid #CACACA;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80% 80%;
}

.confirm__check:not(:disabled):not(:checked)+.confirm__desk:hover::before,
.confirm__check:not(:disabled):active+.confirm__desk::before,
.confirm__check:focus+.confirm__desk::before,
.confirm__check:focus:not(:checked)+.confirm__desk::before {
  box-shadow: 0 0 10px #FF9900;
}

.confirm__check:checked+.confirm__desk::before {
  background-image: url('../img/ok.svg');
}

@media screen and (max-width: 1790px) {
  .request {
    width: 40%;
    margin-left: 0;
  }
}

@media screen and (max-width: 1500px) {
  .request {
    order: 1;
    width: 57.8%;
  }

  .form_input {
    width: 100%;
  }

  .request-form__heading {
    text-indent: -4px;
  }

  .request-form__button {
    margin-right: 19px;
    padding: 15px 41px 13px 38px;
  }

  .confirm__desk::before {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 700px) {
  .request {
    margin-bottom: 30px;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .request {
    margin-bottom: 23px;
  }

  .request-form {
    padding-bottom: 24px;
    border-bottom: 1px solid #595959;
  }

  .request-form__heading {
    text-indent: 0;
  }

  .form_input {
    padding: 15px 0 17px 20px;
    width: 100%;
  }

  .request-form__message {
    margin-bottom: 25px;
  }

  .request-form__button {
    margin-left: 19%;
    margin-bottom: 15px;
    padding: 12px 30px 13px 29px;
    font-size: 12px;
    line-height: 15px;
  }

  .confirm {
    margin-left: 10px;
  }

  .confirm__desk {
    font-size: 16px;
    line-height: 28px;
  }
}