.footer-nav__list {
  display: flex;
  flex-flow: column nowrap;
  order: 5;
  margin-left: auto;
  margin-right: 25px;
  margin-top: 8.59%;
  list-style: none;
}

.footer-nav__item {
  margin-bottom: 14px;
}

.footer-nav__link {
  display: block;
  font-size: 18px;
  line-height: 22px;
  transition: color 0.2s;
}

.footer-nav__link:hover,
.footer-nav__link:active,
.footer-nav__link:focus {
  color: #FF9900;
  transition: color 0.2s;
}

@media screen and (max-width: 1500px) {
  .footer-nav__list {
    order: 3;
    margin-top: 1%;
    margin-right: 8%;
  }

  .footer-nav__item:not(:last-child) {
    margin-bottom: 28px;
  }
}

@media screen and (max-width: 900px) {
  .footer-nav__list {
    margin-right: 0;
  }
}