.footer {
  padding-top: 48px;
  padding-bottom: 80px;  
  color: #CACACA;
  background: #222222;
}

.footer-container {
  display: flex;
  height: 633px;
  flex-flow: column wrap;
}

.footer__logo {
  order: 1;
  flex-basis: 72px;
  margin-bottom: 8px;
  width: 224px;
}

.copy__desk {
  display: flex;
  order: 2;
  flex: 1 1 0;
  margin-top: 0;
  margin-bottom: 42px;
  width: 20%;
}

.social {
  order: 3;
  flex: 1 1 0;
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
  width: 20%;
  list-style: none;
}

.social__item:not(:last-child) {
  margin-right: 25px;
}

.social__link {
  display: block;
  padding: 30px;
}

.facebook {
  background-image: url('../img/fb.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.vk {
  background-image: url('../img/vk.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.instagram {
  background-image: url('../img/instagram.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1500px) {
  .copy__desk {
    display: none;
  }

  .footer__logo {
    order: 2;
    margin-left: auto;
    margin-right: 50px;
  }
  
  .social {
    order: 4;
    margin-left: auto;
    margin-right: 20px;
  }

  .social__item:not(:last-child) {
    margin-right: 25px;
  }

  .social__item__link {
    display: block;
    padding: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .footer__logo {
    margin-left: 57px;
    margin-right: 0;
  }
  
  .social {
    margin-left: 57px;
    margin-right: 0;
  }
}