.header-bar {
  display: flex;
  flex-flow: row wrap;
  padding: 14.5px 0;
}

.header-logo {
  margin-left: -5px;
}

.header-nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-left: auto;
  margin-right: 8px;
  padding-top: 6px;
}

.header-nav__list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0;
  margin: 0 26px;
  list-style: none;
}

.header-nav__item:not(:last-child) {
  margin: 0 60px 0 0;
}

.header-nav__item:nth-child(3) {
  padding-right: 25px;
}

.header-nav__item:nth-child(2) {
  padding-right: 22px;
}

.header-nav__link {
  display: block;
  padding: 10px 0;
  border-bottom: 2px solid #FFFFFF;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  transition: border-color 0.2s;
}

.header-nav__link:hover,
.header-nav__link:active,
.header-nav__link:focus {
  outline: none;
  border-bottom-color: #FF9900;
  transition: border-color 0.2s;
}

.search-btn {
  padding: 9px 26px 0;
  border: none;
  background-color: inherit;
  background-image: url('../img/search.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 26px;
  transition: filter 0.2s;
  cursor: pointer;
}

.search-btn:hover,
.search-btn:active,
.search-btn:focus {
  filter: invert(65%) sepia(32%) saturate(5235%) hue-rotate(1deg) brightness(106%) contrast(105%);
  transition: filter 0.2s;
  outline: none;
}

.burger {
  display: none;
  position: relative;
  margin-left: 16px;
  padding: 0 15px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.burger__link {
  position: absolute;
  display: block;
  right: 0;
  top: 30%;
  width: 30px;
  height: 3px;
  background: #333333;
  transition: background 0.2s;
}

.burger__link::after,
.burger__link::before {
  content: '';
  position: absolute;
  display: block;
  width: 30px;
  height: 3px;
  background: #333333;
  transform-origin: right;
  transition: background 0.2s,
    transform 0.2s;
}

.burger__link::after {
  top: 10px;
}

.burger__link::before {
  top: 20px;
}

.burger:hover .burger__link::before,
.burger:active .burger__link::before,
.burger:focus .burger__link::before {
  background: #FF9900;
  transform: scaleX(0.55);
  transition: background 0.2s,
    transform 0.2s;
}

.burger:hover .burger__link,
.burger:active .burger__link,
.burger:focus .burger__link {
  background: #FF9900;
  transition: background 0.2s;
}

.burger:hover .burger__link::after,
.burger:active .burger__link::after,
.burger:focus .burger__link::after {
  background: #FF9900;
  transform: scaleX(0.8);
  transition: background 0.2s,
    transform 0.2s;
}

.burger:hover,
.burger:active,
.burger:focus {
  outline: none;
}

@media screen and (max-width: 1790px) {
  .header-logo {
    margin-left: 0;
  }

  .header-bar {
    padding: 26px 50px;
  }
}

@media screen and (max-width: 1200px) {

  .header-logo {
    max-width: 150px;
  }

  .header-nav__list {
    margin: 0 52px 0 0;
  }

  .header-nav {
    margin-right: 13px;
  }

  .header-nav__item:not(:last-child) {
    margin: 0 59px 0 0;
  }

  .header-nav__item:nth-child(3) {
    margin-right: 35px;
  }

  .header-nav__item:nth-child(2) {
    margin-right: 36px;
  }

  .header-nav__item:nth-child(1) {
    margin-right: 58px;
  }

  .burger {
    display: block;
  }

  .header-nav__link {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 1023px) {

  .header-nav__list {
    display: none;
  }
}