.main {
  background: linear-gradient(to bottom, #E5E5E5 0%, #FFFFFF 100%);
}

.intro {
  padding: 103px 45% 92px 78px;
  margin-bottom: 97px;
  color: #FFFFFF;
  background-color: #333333;
  background-image: url('../img/photo-of-balconies.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.intro__header {
  margin-top: 0;
  margin-bottom: 19px;
  font-weight: 800;
  font-size: 70px;
  line-height: 86px;
  letter-spacing: 0.3px;
}

.intro__desk {
  margin-top: 0;
  margin-bottom: 96px;
  font-weight: bold;
  font-size: 23px;
  line-height: 29px;
  letter-spacing: 0.23px;
}

.btn-link {
  margin-left: 3px;
  padding: 28px 38px 24px 39px;
  border: none;
  text-align: center;
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
  color: #FFFFFF;
  letter-spacing: 0.1px;
  background-color: #FF9900;
  cursor: pointer;
}

.btn-link:hover,
.btn-link:active,
.btn-link:focus {
  outline: none;
  background: rgba(255, 153, 0, 0.6);
}

@media screen and (max-width: 1790px) {
  .intro {
    padding: 103px 20% 91px 78px;
  }
}

@media screen and (max-width: 1200px) {
  .intro {
    padding: 160px 15% 114px 45px;
    margin-bottom: 58px;
  }

  .intro__header {
    margin-bottom: 10px;
    font-size: 60px;
    line-height: 73px;
    letter-spacing: 0.1px;
  }

  .intro__desk {
    margin-bottom: 110px;
    letter-spacing: 0px;
    font-size: 20px;
    line-height: 24px;
  }

  .btn-link {
    padding: 26px 38px 30px 41px;
    font-size: 24px;
    letter-spacing: 0.4px;
  }
}