/* ОСНОВНЫЕ СТИЛИ */

html {
  box-sizing: border-box; /* Задание размеров блоков: свойства width и height включают в себя значения padding и border, но не margin. */
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit; /*для псевдоэлементов способо задания размеров наследуется*/
}

input,
button {
  font: inherit;
}

body {
  margin: 0; /*сброс отступов*/
  padding: 0; /*сброс полей*/
  min-width: 320px; /*320px, согласно задания. Устанавливает минимальную ширину элемента. Если окно браузера по ширине становится меньше заданной минимальной ширины элемента, то ширина элемента остается неизменной, а в окне появляется горизонтальная полоса прокрутки.*/
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif; /*Семейство шрифта по умолчанию + альтернативные варианты замены*/
  font-size: 16px; /*Размер шрифта по умолчанию для для наиболее часто встречающихся блоков.*/
  line-height: 32px; /*Размер межстрочного интервала для наиболее часто встречающихся блоков.*/
  color: #333333;  /*Цвет шрифта для для наиболее часто встречающихся блоков.*/   
  background-color: #FFFFFF;
}

img {
  max-width: 100%; /*Максимальная ширина изображения*/
}

a {
  text-decoration: none; /*Сброс оформления текста ссылки подчеркиваением*/
  color: inherit; /*Унаследование цвета текста ссылки от родителя*/
}

.visually-hidden { /*класс для визуально спрятанного блока*/
  position: absolute !important; /*абсолютное позиционирование !important-в приоритете*/
  clip: rect(1px 1px 1px 1px); /*область позиционирования 1х1 px для браузеров IE6 и IE7*/
  clip: rect(1px, 1px, 1px, 1px); /*область позиционирования 1х1 px IE6 для прочих браузеров IE7*/
  padding: 0 !important; /*сброс полей*/
  border: 0 !important; /*сброс границ*/
  height: 1px !important; /*сброс высоты*/
  width: 1px !important; /*сброс ширины*/
  overflow: hidden; /*сброс отображения элемента*/
}

.container {
  margin: 0 auto; /*центрирование контейнера*/
  padding-right: 75px;
  padding-left: 75px;
  max-width: 1920px; /*максимальная ширина контейнера, если width, то задавать в относительных единицах, иначе не будет адаптивной версти.*/
  
}

picture {
  font-size: 0;
  line-height: 0;
}
