.todo {
  margin-bottom: 85px;
}

.btn-group {
  margin-top: 45px;
  margin-bottom: 40px;
}

.active {
  color: #FF9900;
}

.btn__step {
  margin-right: 70px;
  padding-left: 0;
  padding-right: 15px;
  border: none;
  outline: none;
  font-size: 18px;
  line-height: 22px;
  background: inherit;
  cursor: pointer;
  transition: color 0.2s;
}

.btn__step:hover,
.btn__step:active,
.btn__step:focus {
  color: #FF9900;
  transition: color 0.2s;
}

.todo__article {
  padding-right: 57%;
  background-image: url('../img/rectangle.jpg');
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 49%;
}

.todo__article__heading {
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 29px;
}

.todo__article__desk {
  margin-top: 0;
  margin-bottom: 60px;
}

.todo__article__link {
  display: inline-block;
  margin-right: 25px;
  padding: 22px 35px 17px 40px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.link-contract {
  display: inline-block;
  padding: 16px 35px 12px 39px;
  border: 1px solid #333333;
  text-align: center;
  letter-spacing: 0.05px;
  background-color: inherit;
  transition: color 0.2s,
    background 0.2s;
}

.link-contract:hover,
.link-contract:active,
.link-contract:focus {
  outline: none;
  background: #333333;
  color: #FFFFFF;
  transition: color 0.2s,
    background 0.2s;
}

@media screen and (max-width: 1790px) {
  .todo__article {
    background-position-y: top;
    background-size: 55% 100%;
  }
}

@media screen and (max-width: 1200px) {
  .todo {
    margin-bottom: 58px;
  }

  .todo__heading {
    text-indent: -5px;
  }

  .btn-group {
    margin-top: 40px;
  }


  .todo__article {
    padding-right: 54%;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: 47.2% 98.8%;
  }

  .todo__article__desk {
    margin-bottom: 28px;

  }

  .todo__article__link {
    padding: 20px 37px 20px 38px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
}

@media screen and (max-width: 950px) {
  .todo__article {
    padding-right: 0;
    padding-top: 60vw;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: 100% 55vw;
  }
}