.footer {
  background: #222222;
}

.footer-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 5px;
  color: #CACACA;
  background: #222222;
}

.footer_wrap {
  order: 2;
  display: flex;
  flex-flow: column nowrap;
}

.footer__logo {
  margin-bottom: 17px;
  margin-left: 0;
  width: 131px;
  height: 42px;
  font-size: 0;
  line-height: 0;
}

.copy {
  display: none;
}

.social {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 20px auto;
  margin-top: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.request {
  order: 1;
  display: flex;
  justify-content: center;
  margin-bottom: 23px;
  width: 100%;
}

.social__item:not(:last-child) {
  margin-right: 15px;
}

.social__link {
  display: block;
  padding: 17px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: filter 0.2s;
}

.social__link:hover,
.social__link:active,
.social__link:focus {
  filter: invert(65%) sepia(32%) saturate(5235%) hue-rotate(1deg) brightness(106%) contrast(105%);
  transition: filter 0.2s;
}

.facebook {
  background-image: url('../../img/fb.svg');
}

.vk {
  background-image: url('../../img/vk.svg');
}

.instagram {
  background-image: url('../../img/instagram.svg');
}

.request-form {
  position: relative;
  padding-bottom: 24px;
  border-bottom: 1px solid #595959;
}

.request-form__heading {
  margin-top: 10px;
  margin-bottom: 21px;
  color: #CACACA;
}

.form_input {
  display: block;
  margin-bottom: 25px;
  padding: 20px 0 20px 20px;
  width: 100%;
  outline: none;
  border: none;
  background: #414141;
  line-height: 20px;
}

.form_input:active,
.form_input:focus {
  box-shadow: 0 0 10px #FF9900;
}

.form_input::placeholder {
  color: #CACACA;
}

.request-form__message {
  margin-bottom: 25px;
  padding: 15px 0 16px 20px;
  line-height: 30px;
  resize: none;
}

.request-form__button {
  margin-left: 55px;
  margin-bottom: 15px;
  padding: 12px 29px 13px 29px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

.confirm {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
  user-select: none;
  cursor: pointer;
}

.confirm__check {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.confirm__desk {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-size: 16px;
  line-height: 28px;
}

.confirm__desk::before {
  content: '';
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 2px;
  width: 14px;
  height: 14px;
  border: 1px solid #CACACA;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80% 80%;
}

.confirm__check:not(:disabled):not(:checked)+.confirm__desk:hover::before,
.confirm__check:not(:disabled):active+.confirm__desk::before,
.confirm__check:focus+.confirm__desk::before,
.confirm__check:focus:not(:checked)+.confirm__desk::before {
  box-shadow: 0 0 10px #FF9900;
}

.confirm__check:checked+.confirm__desk::before {
  background-image: url('../../img/ok.svg');
}

.footer-nav {
  display: none;
}