.footer {  
  color: #CACACA;
  background: #222222;
}

.footer-container {  
  display: flex;
  height: 633px;
  flex-flow: column wrap;
  padding-top: 48px;
  padding-bottom: 80px;
  background: #222222;
}

.footer__logo {
  order: 1;
  flex-basis: 72px;
  margin-bottom: 8px;
  width: 224px;
  font-size: 0;
  line-height: 0;
}

.copy {
  display: flex;
  order: 2;
  flex: 1 1 0;
  margin-top: 0;
  margin-bottom: 40px;
  width: 354px;
}

.social {
  order: 3;
  flex: 0 0 0;
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
  width: 354px;
  list-style: none;
}

.social__item:not(:last-child) {
  margin-right: 25px;
}

.social__link {
  display: block;
  padding: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: filter 0.2s;
}

.social__link:hover,
.social__link:active,
.social__link:focus {
  filter: invert(65%) sepia(32%) saturate(5235%) hue-rotate(1deg) brightness(106%) contrast(105%);
  transition: filter 0.2s;
}

.facebook {
  background-image: url('../../img/fb.svg');
}

.vk {
  background-image: url('../../img/vk.svg');
}

.instagram {
  background-image: url('../../img/instagram.svg');
}