.header-bar {
  display: flex;
  flex-flow: row wrap;
  padding: 15px 75px;
}

.header-logo {
  margin-left: -5px;
}

.header-nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-left: auto;
  margin-right: 58px;
  padding-top: 6px;
}

.header-nav__list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0;
  margin: 0 0;
  list-style: none;
}

.header-nav__item:not(:last-child) {
  margin: 0 74px 0 0;
}

.header-nav__item:nth-child(3) {
  padding-right: 25px;
}

.header-nav__item:nth-child(2) {
  padding-right: 22px;
}

.header-nav__link {
  display: block;
  padding: 10px 0;
  border-bottom: 2px solid #FFFFFF;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  transition: border-color 0.2s;
}

.header-nav__link:hover,
.header-nav__link:active,
.header-nav__link:focus {
  border-bottom-color: #FF9900;
}

.search-btn {
  padding: 9px 26px 0;
  border: none;
  background-color: inherit;
  background-image: url('../../img/search.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 26px;
  transition: filter 0.2s;
  cursor: pointer;
}

.search-btn:hover,
.search-btn:active,
.search-btn:focus {
  filter: invert(65%) sepia(32%) saturate(5235%) hue-rotate(1deg) brightness(106%) contrast(105%);
}

.burger {
  display: none;
  position: relative;
  margin-top: 12px;
  margin-left: 16px;
  padding: 15px;  
  border: none;
  border-top: 3px solid #333333;
  background-color: inherit;
  cursor: pointer;
  transition: border-color 0.2s;
}

.burger::after,
.burger::before {
  content: '';
  position: absolute;
  display: block;
  right: 0;
  width: 100%;
  height: 3px;
  background: #333333;
  transform-origin: right;
  transition: transform 0.2s,
  background 0.2s;
}

.burger::after {
  top: 8px;
}

.burger::before {
  top: 19px;
}

.burger:hover.burger::before,
.burger:active.burger::before,
.burger:focus.burger::before {
  background: #FF9900;
  transform: scaleX(0.55);
}

.burger:hover,
.burger:active,
.burger:focus {
  border-color: #FF9900;
}

.burger:hover.burger::after,
.burger:active.burger::after,
.burger:focus.burger::after {
  background: #FF9900;
  transform: scaleX(0.8);
}