.intro_container {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;  
  padding-bottom: 39px;
  max-width: 1920px;
  background: #FFFFFF;
}

.intro {  
  padding: 11% 5% 14%;
  text-align: center;
  color: #FFFFFF;
  background-color: #333333;
  background-image: url('./../../img/img-xs-min/banner-xs@1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.intro__header {
  margin-top: 0;
  margin-bottom: 7px;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
}

.intro__desk {
  margin-top: 0;
  margin-bottom: 13.5%;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.01em;
}

.btn-link {
  padding: 11px 29px 14px;
  border: none;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  letter-spacing: -0.005em;
  background-color: #FF9900;
  cursor: pointer;
}

.btn-link:hover,
.btn-link:active,
.btn-link:focus {
  background: rgba(255, 153, 0, 0.6);
}

@media (min-resolution: 2dppx) {
  .intro {
    background-image: url('./../../img/img-xs-min/banner-xs@2x.jpg');
  }
}

@media (min-resolution: 3dppx) {
  .intro {
    background-image: url('./../../img/img-xs-min/banner-xs@3x.jpg');
  }
}