.question {
  padding-bottom: 25px;
}

.question__heading {
  margin-top: 0;
  margin-bottom: 14px;
}

.question__list {
  padding: 0;
  list-style: none;
}

.question__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 23px;
  border-top: 1px solid #CACACA;
}

.question__item:last-child {
  border-bottom: 1px solid #CACACA;
}

.question__btn {
  position: relative;
  margin-top: 2px;
  padding: 15px;
  border: none;
  border-radius: 50%;
  background-color: #ECECEC;
  cursor: pointer;
  transition: background-color 0.2s;
}

.question__btn::before {
  content: '';
  position: absolute;
  right: 6px;
  width: 18px;
  height: 1px;
  background-color: #666666;
  transition: background-color 0.2s;
}

.question__btn::after {
  content: '';
  position: absolute;
  right: 6px;
  width: 18px;
  height: 1px;
  background-color: #666666;
  transform: rotate(90deg);
  transition: background-color 0.2s;
}

.question__desk {
  margin: 0;
  padding-right: 30px;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.005em;
}

.question__btn:focus {
  box-shadow: 0 0 10px #FF9900;
}

.question__btn:hover,
.question__btn:active,
.question__btn:focus {
  background-color: #D2D2D2;
}

.question__btn:hover.question__btn::after,
.question__btn:hover.question__btn::before,
.question__btn:active.question__btn::after,
.question__btn:active.question__btn::before,
.question__btn:focus.question__btn::after,
.question__btn:focus.question__btn::before {
  background-color: #000000;
}