.summary {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.preview {
  display: flex;
  align-items: flex-end;
  margin-right: 0;    
  margin-bottom: 36px;
  padding-top: 72%;
  width: 100%;
  height: auto;
  background-color: inherit;
  background-image: url('./../../img/img-xs-min/about-xs@1x.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.preview__container {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  padding: 0;
  background: none;
}

.preview__desk {
  margin: 0 0 7px;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  color: #333333;
}

.preview__btn {
  margin-top: 3px;
  margin-left: 0;
  padding: 9px 44px 12px 42px;
  border: 2px solid #ff9900;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #ff9900;
  background-color: inherit;
  cursor: pointer;
}

.preview__btn:hover,
.preview__btn:active,
.preview__btn:focus {
  background: #ff9900;
  color: #ffffff;
}

.summary__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.summary__item {
  position: relative;
  border: none;
}

.summary__item:not(:last-child) {
  margin-bottom: 20px;
}

.summary__img_consult {
  padding: 50px 0 0 0;
  background-image:url('./../../img/package.svg'), url('./../../img/ellipse.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: 15px 0, left 10px;
  background-size: 56px 56px, 43px 43px;
}

.summary__img_quality {
  padding: 55px 0 0 0;
  background-image:url('./../../img/settings.svg'), url('./../../img/ellipse.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: 15px 0, left 14px;
  background-size: 50px 50px, 43px 43px;
}

.summary__header {
  display: block;
  margin-top: 0;
  margin-bottom: 1px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.01em;
}

@media (min-resolution: 2dppx) {  
  .preview {
    background-image: url('./../../img/img-xs-min/about-xs@2x.jpg');
  }
}

@media (min-resolution: 3dppx) {
  .preview {
    background-image: url('./../../img/img-xs-min/about-xs@3x.jpg');
  }
}