.todo {
  margin-bottom: 85px;
}

.btn-group {
  margin-top: 45px;
  margin-bottom: 40px;
}

.active {
  color: #FF9900;
}

.btn-group__step {
  margin-right: 70px;
  padding-left: 0;
  padding-right: 15px;
  border: none;
  outline: none;
  font-size: 18px;
  line-height: 22px;
  background: inherit;
  cursor: pointer;
  transition: color 0.2s;
}

.btn-group__step:hover,
.btn-group__step:active,
.btn-group__step:focus {
  color: #FF9900;
  transition: color 0.2s;
}

.todo__article {
  padding-right: 1012px;
  background-image: url('https://via.placeholder.com/870x465.jpg/0000FF/808080?text=Todo+870x465@1x+jpg+XL');
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 870px;
}

.todo__article__heading {
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 29px;
}

.todo__article__desk {
  margin-top: 0;
  margin-bottom: 60px;
}

.todo__article__link {
  display: inline-block;
  margin-right: 25px;
  padding: 23px 35px 18px 40px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: calc(0.1rem/16);
}

.link-contract {
  display: inline-block;
  padding: 16px 35px 12px 39px;
  border: 1px solid #333333;
  text-align: center;
  letter-spacing: calc(0.05rem/16);
  background-color: inherit;
  transition: color 0.2s,
    background 0.2s;
}

.link-contract:hover,
.link-contract:active,
.link-contract:focus {
  outline: none;
  background: #333333;
  color: #FFFFFF;
  transition: color 0.2s,
    background 0.2s;
}

@media (min-resolution: 2dppx) {
  .todo__article {    
    background-image: url('https://via.placeholder.com/1740x930.jpg/FF0000/FFFFFF?text=Todo+1740x930@2x+jpg+XL');
  }
}

@media (min-resolution: 3dppx) {
  .todo__article {    
    background-image: url('https://via.placeholder.com/2610x1395.jpg/FFFF00/000000?text=Todo+2610x1395@3x+jpg+XL');
  }
}