@media screen and (max-width: 1790px) {
  .header-logo {
    margin-left: 0;
  }

  .header-bar {
    padding: 26px 50px;
  }

  .intro {
    padding: 103px 25% 91px 78px;
  }

  .intro__header {
    font-size: 65px;
  }

  .about__desk {
    padding-right: 10%;
  }

  .preview {
    width: 80%;
  }

  .preview__btn {
    margin-left: 20px;
  }

  .summary__list__item,
  .summary__list__item:nth-child(2) {
    padding: 30px 10px 30px 40%;
  }

  .todo__article {
    background-position-y: top;
    background-size: 55% 100%;
  }

  .request {
    width: 40%;
    margin-left: 0;
  }

  .copy {
    width: 30%;
  }
}