@media screen and (max-width: 1700px) {
  .intro {
    padding: 103px 200px 92px 78px;
  }

  .todo__article {
    padding-right: 700px;
    background-size: 700px;
    background-position: top right;
  }
}