@media screen and (max-width: 1500px) {  
  .header-logo {
    max-width: 150px;
  }

  .header-nav__list {
    margin: 0 52px 0 0;
  }

  .header-nav {
    margin-right: 13px;
  }

  .header-nav__item:not(:last-child) {
    margin: 0 59px 0 0;
  }

  .header-nav__item:nth-child(3) {
    margin-right: 35px;
  }

  .header-nav__item:nth-child(2) {
    margin-right: 36px;
  }

  .header-nav__item:nth-child(1) {
    margin-right: 58px;
  }

  .about__desk {
    padding-right: 200px;
  }
  
  .todo__article {
    padding-right: 500px;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: 437px 689px;
  }
  
  .footer-container {
    grid-template-areas: "request footer__logo"
    "request footer-nav"
    "request social";
  }

  .copy {
    display: none;
  }

  .footer-nav {
    margin-top: 9px;
    margin-right: 73px;
    margin-left: 73px;
    padding-left: 0;
    padding-right: 0;
  }

  .footer__logo {
    margin-left: 73px;
    margin-right: 0;
    margin-bottom: 9px;
    justify-self: end;
  }

  .social {
    margin-left: 55px;
    margin-right: 0;
    margin-top: 0;
    padding-left: 18px;
    justify-self: end;
  }

}