@media screen and (max-width: 320px) {
  body {
    font-size: 14px;
    line-height: 28px;
  }

  .container {
    max-width: 320px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .header-bar {
    padding: 7px 15px 3px;
  }

  .header-logo {
    margin: 0;
  }

  .search-btn {
    display: none;
  }

  .burger {
    margin-top: 6px;
    padding: 13px;
  }

  .burger::after {
    top: 6px;
  }
  
  .burger::before {
    top: 14px;
  }

  .main {
    margin-bottom: 40px;
  }

  .intro {
    margin-bottom: 38px;
    padding: 31px 14px 40px;
    text-align: center;
    background-image: url('https://via.placeholder.com/290x307.jpg/0000FF/808080?text=Banner+290x307@1x+jpg+XS');
  }

  .intro__header {
    margin-bottom: 7px;
    font-size: 20px;
    line-height: 24px;
  }

  .intro__desk {
    margin-bottom: 35px;
    font-size: 12px;
    line-height: 15px;
  }

  .btn-link {
    padding: 11px 30px 14px 30px;
    font-size: 12px;
    line-height: 15px;
  }

  .about {
    margin-bottom: 32px;
  }

  .section_heading {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 22px;
  }

  .about__heading {
    margin-bottom: 3px;
    text-indent: 0px;
  }

  .about__desk {
    margin-bottom: 11px;
  }

  .preview {
    padding-top: 210px;
    background-image: url('https://via.placeholder.com/290x200.jpg/0000FF/808080?text=About+290x200@1x+jpg+XS');
    background-size: 100% 200px;
  }

  .summary__item:nth-child(2)::after {
    left: 7%;
  }

  .todo {
    margin-bottom: 39px;
  }

  .todo__heading {
    text-indent: 0px;
    margin-bottom: 35px;
  }

  .btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 15px;
  }

  .btn-group__step {
    font-size: 14px;
    line-height: 17px;
    margin-right: 0;
    padding-right: 0;
  }
  
  .todo__article {
    padding-right: 0;
    padding-top: 153px;
    background-image: url('https://via.placeholder.com/290x160.jpg/0000FF/808080?text=Todo+290x160@1x+jpg+XS');
    background-size: 290px 160px;
  }
    
  .todo__article__link {
    margin-right: 7px;
    padding: 11px 42px 14px 44px;
    font-size: 12px;
    line-height: 15px;
  }

  .link-contract {
    padding: 10px 30px 13px 32px;
    font-size: 12px;
    line-height: 15px;
  }

  .question {
    margin-bottom: 39px;
  }

  .question__heading {
    margin-top: 0;
    margin-bottom: 14px;
    text-indent: 0;
  }

  .question__item {
    padding-top: 18px;
    padding-bottom: 23px;
  }

  .question__item:nth-child(1) {
    padding-top: 18px;
    padding-bottom: 23px;
  }

  .question_desk {
    padding-right: 64px;
    font-size: 16px;
  }

  .question_desk {
    padding-bottom: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: calc(0.15rem/16);
  }

  .question-btn::after {
    right: 0px;
    width: 30px;
    height: 30px;
    background-size: 18px 18px;
  }

  .question__item {
    padding-top: 22px;
    padding-bottom: 25px;
  }

  .question__item:nth-child(1) {
    padding-top: 20px;
    padding-bottom: 22px;
  }

  .question__item:nth-child(2) {
    padding-top: 19px;
    padding-bottom: 23px;
  }

  .question__item:nth-child(3) {
    padding-top: 18px;
    padding-bottom: 23px;
  }

  .question__item:nth-child(4) {
    padding-top: 18px;
    padding-bottom: 23px;
  }

  .question__item:nth-child(5) {
    padding-top: 18px;
    padding-bottom: 22px;
  }

  .social__item:not(:last-child) {
    margin-right: 15px;
  }
  
  .social__link {
    padding: 17px;
  }

  .request-form {
    padding-bottom: 24px;
    border-bottom: 1px solid #595959;
  }

  .request-form__heading {
    text-indent: 0;
  }

  .form_input {
    margin-bottom: 25px;
    padding: 20px 0 20px 20px;
    width: 100%;
    line-height: 20px;
  }

  .request-form__message {
    margin-bottom: 25px;
    padding-bottom: 50px;
  }

  .request-form__button {
    margin-left: 19%;
    margin-bottom: 15px;
    padding: 12px 30px 13px 29px;
    font-size: 12px;
    line-height: 15px;
  }

  .confirm {
    margin-left: 10px;
  }

  .confirm__desk {
    font-size: 16px;
    line-height: 28px;
  }
}

@media screen and (max-width: 320px) and (min-resolution: 2dppx){ 
  .intro {    
    background-image: url('https://via.placeholder.com/580x614.jpg/FF0000/FFFFFF?text=Banner+580x614@2x+jpg+XS');
  }

  .preview {
    background-image: url('https://via.placeholder.com/580x400.png/FF0000/FFFFFF?text=About+580x400@2x+jpg+XS');
  }

  .todo__article {
    background-image: url('https://via.placeholder.com/580x320.jpg/FF0000/FFFFFF?text=Todo+580x320@2x+jpg+XS');
  }
}

@media screen and (max-width: 320px) and (min-resolution: 3dppx){ 
  .intro {    
    background-image: url('https://via.placeholder.com/870x921.jpg/FFFF00/000000?text=Banner+870x921@3x+jpg+XS');
  }

  .preview {
    background-image: url('https://via.placeholder.com/870x600.png/FFFF00/000000?text=About+870x600@3x+jpg+XS');
  }

  .todo__article {
    background-image: url('https://via.placeholder.com/870x480.jpg/FFFF00/000000?text=Todo+870x480@3x+jpg+XS');
  }
}
