@media only screen and (min-width: 1906px) {
  .intro {
    padding: 5.75% 45% 5.15% 4.47%;
    background-image: url('./../../img/img-xl-min/banner-xl@1x.jpg');
  }
  
  .summary {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .preview {
    margin-right: 30px;
    margin-top: 0;
    padding-top: 25.1%;
    width: 49.1%;
    background-image: url('./../../img/img-xl-min/about-xl@1x.jpg');
  }
  
  .preview__container {
    padding: 40px 68px 40px 54px;
  }

  .preview__desk {
    margin-right: 10%;
    line-height: 32px;
  }

  .preview__btn {
    margin-top: 8px;
    margin-bottom: 5px;
  }

  .summary__list {
    display: flex;
    flex-flow: column;    
    justify-content: center;
    margin-bottom: 49px;
    width: 49.1%;
  }

  .summary__item:not(:last-child) {
    margin-bottom: 30px;
  }
  
  .summary__img_consult {
    padding: 53px 100px 48px 300px;
    background-position: 100px 60px, 61px 88px;
    background-size: 156px 156px, 120px 120px;
  }

  .summary__img_quality {
    padding: 50px 100px 49px 300px;
    background-position: 109px 49px, 61px 86px;
    background-size: 136px 136px, 120px 120px;
  }

  .footer-container {
    justify-content: space-between;
    padding-bottom: 65px;
  }

  .footer__logo {
    margin: 0 0 13px 0;
  }

  .copy {
    order: 3;
    display: block;
    margin: 20px 5px 60px 0;
    max-width: 360px;
  }

  .request {
    margin-right: 5px;
    width: 570px;
  }

  .request-form__button {
    padding: 15px 50px 13px 53px;
    font-size: 16px;
    line-height: 32px;
  }

  .confirm {
    margin-left: 23px;
  }

  .footer-nav {
    justify-self: end;
    margin-right: 132px;
    padding: 0;
    list-style: none;
  }
}

@media screen and (min-width: 1906px) and (min-resolution: 2dppx) {
  .intro {
    background-image: url('./../../img/img-xl-min/banner-xl@2x.jpg');
  }

  .preview {
    background-image: url('./../../img/img-xl-min/about-xl@2x.jpg');
  }
}

@media screen and (min-width: 1906px) and (min-resolution: 3dppx) {
  .intro {
    background-image: url("./../../img/img-xl-min/banner-xl@3x.jpg");
  }

  .preview {
    background-image: url('./../../img/img-xl-min/about-xl@2x.jpg');
  }
}