@media only screen and (min-width: 754px) {
  body {
    font-size: 16px;
    line-height: 32px;
  }

  header {
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  }

  .container {
    max-width: 768px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .header-bar {
    padding: 10px 48px 11px 48px;
  }

  .burger {
    order: 1;
    margin-left: 0;
    margin-top: 6px;
    padding: 15px;
  }

  .burger::after {
    top: 7px;
  }

  .burger::before {
    top: 17px;
  }

  .header-logo {
    order: 2;
  }

  .search-btn {
    order: 3;
    display: block;
    margin-top: 9px;
    padding: 18px;
    border: none;
    background-color: inherit;
    background-image: url('../../img/search.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 26px 26px;
    transition: filter 0.2s;
    cursor: pointer;
  }

  .search-btn:hover,
  .search-btn:active,
  .search-btn:focus {
    background-image: url('../../img/search-hover.svg');
  }

  .intro_container {
    max-width: 768px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 59px;
  }

  .intro {
    padding: 191px 15px 114px 49px;
    text-align: left;
    background-image: url('https://via.placeholder.com/768x699.jpg/0000FF/808080?text=Banner+768x699@1x+jpg+Md');
    background-position: center;
  }

  .intro__header {
    margin-bottom: 10px;
    font-size: 60px;
    line-height: 73px;
  }

  .intro__desk {
    margin-bottom: 110px;
    padding-right: 20px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: calc(0.23rem/16);
  }

  .btn-link {
    padding: 32px 38px 33px 39px;
    font-size: 24px;
    letter-spacing: calc(-0.1rem/16);
  }

  .section_heading {
    font-size: 48px;
    line-height: 59px;
  }

  .about {
    margin-bottom: 60px;
  }

  .about__heading {
    margin-bottom: 26px;
    text-indent: -3px;
  }

  .about__desk {
    margin-bottom: 58px;
  }

  .preview {
    margin-bottom: 40px;
    height: 650px;
    background-image: url('https://via.placeholder.com/668x650.jpg/0000FF/808080?text=About+668x650@1x+jpg+Md');
    background-size: 100% 100%;
  }

  .preview__container {
    position: relative;
    z-index: 2;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 24px 30px 26px 29px;
  }

  .preview__container::after {
    content: '';
    z-index: -1;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../img/background-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .preview__desk {
    margin-bottom: 0;
    width: 400px;
    font-size: 16px;
    line-height: 31px;
    font-weight: 700;
    letter-spacing: 0;
    color: #ffffff;
  }

  .preview__btn {
    padding: 19px 37px 19px 38px;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    line-height: 20px;
  }

  .summary__item {
    border: 1px solid #cacaca;
  }

  .summary__item:nth-child(1) {
    padding: 20px 20px 20px 177px;
    margin-bottom: 40px;
  }

  .summary__item:nth-child(2) {
    padding: 20px 20px 20px 177px;
  }

  .summary__item__header {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
  }

  .summary__item::before {
    top: 83px;
    left: 30px;
    width: 80px;
    height: 80px;
  }

  .summary__item:nth-child(2)::before {
    top: 87px;
    left: 29px;
  }

  .summary__item:nth-child(1)::after {
    top: 64px;
    left: 56px;
    width: 104px;
    height: 104px;
  }

  .summary__item:nth-child(2)::after {
    top: 66px;
    left: 65px;
    width: 87px;
    height: 86px;
  }

  .summary__item__header {
    letter-spacing: calc(0.05rem/16);
  }

  .todo__heading {
    margin-bottom: 39px;
    text-indent: -5px;
  }

  .btn-group {
    margin-bottom: 44px;
  }

  .btn-group__step {
    font-size: 18px;
    line-height: 22px;
  }

  .todo {
    margin-bottom: 59px
  }

  .todo__article {
    padding-top: 284px;
    background-image: url('https://via.placeholder.com/668x284.jpg/0000FF/808080?text=Todo+290x160@1x+jpg+Md');
    background-size: 100% 284px;
  }

  .todo__article__heading {
    margin-top: 38px;
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: calc(0.25rem/16);
  }

  .todo__article__link {
    margin-right: 25px;
    padding: 20px 37px 20px 38px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: calc(0.2rem/16);
  }

  .link-contract {
    padding: 19px 35px 19px 39px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: calc(0.05rem/16);
  }

  .todo__article__desk {
    margin-bottom: 29px;
  }

  .question__heading {
    text-indent: -3px;
    margin-bottom: 37px;
    letter-spacing: calc(-0.9rem/16);
  }

  .question {
    padding-bottom: 42px;
  }

  .question__item {
    padding-top: 23px;
    padding-bottom: 25px;
  }

  .question__item:nth-child(1) {
    padding-top: 30px;
    padding-bottom: 25px;
  }

  .question__item:nth-child(2) {
    padding-top: 23px;
    padding-bottom: 26px;
  }

  .question__item:nth-child(3) {
    padding-top: 23px;
    padding-bottom: 25px;
  }

  .question__item:nth-child(4) {
    padding-top: 21px;
    padding-bottom: 24px;
  }

  .question_desk {
    padding-right: 150px;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
  }

  .question-btn::after {
    top: calc(50% - 24px);
    right: 0px;
    width: 50px;
    height: 50px;
    background-size: 30px 30px;
  }

  .footer-container {
    padding-top: 50px;
    padding-bottom: 59px;
  }

  .footer_wrap {
    align-self: flex-start;
  }

  .request-form__heading {
    text-indent: -3px;
  }

  .request {
    align-self: flex-start;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 18px;
    width: 534px;
  }

  .request-form {
    margin-left: 0;
    margin-right: auto;
    border-bottom: none;
  }

  .form_input {
    padding: 20px 0 20px 23px;
  }

  .request-form__message {
    margin-bottom: 30px;
    padding: 15px 0 16px 23px;
  }

  .request-form__button {
    margin-left: 0;
    padding: 15px 41px 13px 38px;
    font-size: 16px;
    line-height: 32px;
  }

  .confirm {
    margin-left: 18px;
  }

  .footer__logo {
    width: 224px;
    height: 72px;
  }

  .social {
    justify-content: flex-start;
    margin: 0;
  }

  .social__link {
    padding: 30px;
  }

  .social__item:not(:last-child) {
    margin-right: 25px;
  }
}

@media screen and (min-width: 754px) and (min-resolution: 2dppx) {
  .intro {
    background-image: url('https://via.placeholder.com/1572x1398.jpg/FF0000/FFFFFF?text=Banner+1572x1398@2x+jpg+Md');
  }

  .preview {
    background-image: url('https://via.placeholder.com/1336x1300.png/FF0000/FFFFFF?text=About+1848x1280@2x+jpg+Md');
  }

  .todo__article {
    background-image: url('https://via.placeholder.com/1336x568.jpg/FF0000/FFFFFF?text=Todo+874x1378@2x+jpg+Md');
  }
}

@media screen and (min-width: 754px) and (min-resolution: 3dppx) {
  .intro {
    background-image: url('https://via.placeholder.com/2304x2097.jpg/FFFF00/000000?text=Banner+2304x2097@3x+jpg+Md');
  }

  .preview {
    background-image: url('https://via.placeholder.com/2004x1950.png/FFFF00/000000?text=About+2772x1920@3x+jpg+Md');
  }

  .todo__article {
    background-image: url('https://via.placeholder.com/2004x852.jpg/FFFF00/000000?text=Todo+1311x2067@3x+jpg+Md');
  }
}