@media only screen and (min-width: 1010px) {
  .container {
    max-width: 1024px;
  }

  .header-bar {
    padding: 26px 50px;
  }

  .burger {
    margin-top: 8px;
  }

  .burger::after {
    top: 8px;
  }

  .burger::before {
    top: 18px;
  }

  .search-btn {
    margin-top: 12px;
  }

  .intro_container {
    padding-right: 50px;
    padding-left: 50px;
    max-width: 1024px;
  }

  .intro {    
    padding: 160px 138px 114px 45px;
    background-image: url('https://via.placeholder.com/924x768.jpg/0000FF/808080?text=Banner+924x768@1x+jpg+Lg');
    text-align: left;
  }

  .intro__header {
    margin-bottom: 10px;
    letter-spacing: calc(0.1rem/16);
  }

  .intro__desk {
    margin-bottom: 110px;
  }

  .btn-link {
    padding: 31px 38px 33px 39px;
  }

  .about {
    margin-bottom: 58px;
  }

  .about__desk {
    margin-bottom: 58px;
    padding-right: 30px;
  }

  .preview {
    margin-bottom: 49px;
    height: 640px;
    background-image: url('https://via.placeholder.com/924x640.jpg/0000FF/808080?text=About+924x640@1x+jpg+Lg');
  }

  .preview__container {
    padding: 39px 50px 40px 43px;
  }

  .preview__desk {
    width: 497px;
    line-height: 32px;
  }

  .summary__item {
    border: 1px solid #cacaca;
  }

  .summary__item:nth-child(1) {
    padding: 52px 100px 48px 348px;
  }

  .summary__item:nth-child(2) {
    padding: 52px 100px 49px 348px;
  }

  .summary__item::before {
    top: 94px;
    left: 110px;
    width: 120px;
    height: 120px;
  }

  .summary__item:nth-child(2)::before {
    top: 97px;
    left: 110px;
  }

  .summary__item:nth-child(1)::after {
    top: 63px;
    left: 151px;
    width: 156px;
    height: 156px;
  }

  .summary__item:nth-child(2)::after {    
    top: 60px;
    left: 158px;
    width: 136px;
    height: 136px;
  }

  .todo {
    margin-bottom: 59px;
  }

  .todo__heading {
    margin-bottom: 27px;
    text-indent: -6px;
  }

  .btn-group {
    display: inline-flex;
    justify-content: flex-start;
    margin-top: 12px;
    margin-bottom: 48px;
  }

  .btn-group__step:not(:last-of-type) {
    margin-right: 89px;
  }

  .todo__article {
    padding-top: 0;
    padding-right: 500px;
    background-image: url('https://via.placeholder.com/437x689.jpg/0000FF/808080?text=Todo+437x689@1x+jpg+Lg');
    background-position: right 10px;
    background-repeat: no-repeat;
    background-size: 437px 689px;
  }

  .todo__article__heading {
    margin-top: 0;
    margin-bottom: 5px;
  }

  .todo__article__link {
    padding: 20px 37px 20px 38px;
  }

  .question {
    padding-bottom: 41px;
  }

  .question__heading {
    letter-spacing: 0;
  }

  .question__item {
    padding-top: 37px;
    padding-bottom: 41px;
  }

  .question__item:nth-child(1) {
    padding-top: 48px;
    padding-bottom: 40px;
  }

  .question__item:nth-child(3) {
    padding-top: 37px;
    padding-bottom: 41px;
  }

  .question__item:nth-child(4) {
    padding-top: 23px;
  }

  .footer-container {
    flex-flow: row wrap;
    padding-top: 48px;
    padding-bottom: 40px;
  }

  .footer_wrap {
    order: 1;
    margin-right: 145px;
  }

  .request {
    order: 2;
  }

  .request-form {
    padding-bottom: 0;
  }

  .request-form__heading {
    margin-bottom: 23px;
  }

  .form_input {
    padding: 22px 0 18px 25px;
    margin-bottom: 24px
  }

  .request-form__message {
    margin-bottom: 31px;
    padding: 16px 0 15px 25px;
  }

  .request-form__button {
    padding: 15px 41px 13px 38px;
  }

  .footer__logo {
    justify-self: left;
    margin: 0 0 12px 0;
  }

  .footer-nav {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 0 108px 0;
    padding: 0;
    list-style: none;
  }

  .footer-nav__item:not(:last-child) {
    margin-bottom: 0px;
  }

  .footer-nav__link {
    display: block;
    font-size: 18px;
    line-height: 36px;
    transition: color 0.2s;
  }

  .footer-nav__link:hover,
  .footer-nav__link:active,
  .footer-nav__link:focus {
    color: #FF9900;
  }
}

@media screen and (min-width: 1010px) and (min-resolution: 2dppx) {
  .intro {
    background-image: url('https://via.placeholder.com/1848x1536.jpg/FF0000/FFFFFF?text=Banner+1848x1536@2x+jpg+Lg');
  }

  .preview {
    background-image: url('https://via.placeholder.com/1848x1280.png/FF0000/FFFFFF?text=About+1848x1280@2x+jpg+Lg');
  }

  .todo__article {
    background-image: url('https://via.placeholder.com/874x1378.jpg/FF0000/FFFFFF?text=Todo+874x1378@2x+jpg+Lg');
  }
}

@media screen and (min-width: 1010px) and (min-resolution: 3dppx) {
  .intro {
    background-image: url('https://via.placeholder.com/2772x2304.jpg/FFFF00/000000?text=Banner+2772x2304@3x+jpg+Lg');
  }

  .preview {
    background-image: url('https://via.placeholder.com/2772x1920.png/FFFF00/000000?text=About+2772x1920@3x+jpg+Lg');
  }

  .todo__article {
    background-image: url('https://via.placeholder.com/1311x2067.jpg/FFFF00/000000?text=Todo+1311x2067@3x+jpg+Lg');
  }
}