@media screen and (max-width: 1024px) {
  .container {
    width: 924px;
    padding: 0;
  }

  .header-bar {
    padding: 26px 0;
  }

  .header-logo {
    max-width: 150px;
  }

  .header-nav__list {
    margin: 0 52px 0 0;
  }

  .header-nav {
    margin-right: 13px;
  }

  .header-nav__item:not(:last-child) {
    margin: 0 59px 0 0;
  }

  .header-nav__item:nth-child(3) {
    margin-right: 35px;
  }

  .header-nav__item:nth-child(2) {
    margin-right: 36px;
  }

  .header-nav__item:nth-child(1) {
    margin-right: 58px;
  }

  .burger {
    display: block;
  }

  .header-nav__link {
    font-size: 16px;
    line-height: 20px;
  }

  .main { 
    margin-bottom: 59px;
  }

  .intro {
    padding: 160px 138px 114px 45px;
    margin-bottom: 58px;
    background-image: url('https://via.placeholder.com/924x768.jpg/0000FF/808080?text=Banner+924x768@1x+jpg+Lg');
  }

  .intro__header {
    margin-bottom: 10px;
    font-size: 60px;
    line-height: 73px;
    letter-spacing: calc(0.1rem/16);
  }

  .intro__desk {
    margin-bottom: 110px;
    letter-spacing: 0px;
    font-size: 20px;
    line-height: 24px;
  }

  .btn-link {
    margin-left: 0;
    padding: 26px 38px 25px 41px;
    font-size: 24px;
    letter-spacing: calc(-0.15rem/16);
  }

  .about {
    margin-bottom: 62px;
  }

  .about__heading {
    margin-bottom: 25px;
    text-indent: -2px;
  }

  .about__desk {
    margin-bottom: 59px;
    padding-right: 0;
  }

  .summary {
    flex-flow: column nowrap;
  }

  .preview {
    width: 100%;
    height: 652px;
    margin-right: 0;
    margin-bottom: 38px;
    background-image: url('https://via.placeholder.com/924x640.jpg/0000FF/808080?text=About+924x640@1x+jpg+Lg');
  }

  .preview__container {
    flex-flow: row wrap;
    align-items: center;
    padding: 40px 50px 42px 45px;
  }

  .preview__desk {
    width: 60%;
  }

  .preview__btn {
    margin-left: 20px;
    margin-top: 0;
    padding: 19px 35px 17px 37px;
  }

  .summary__list {
    width: 100%;
  }

  .summary__item:not(:last-child) {
    margin-bottom: 40px;
  }

  .summary__item:nth-child(1) {
    padding: 55px 100px 45px 364px;
  }

  .summary__item:nth-child(2) {
    padding: 50px 100px 50px 364px;
  }

  .summary__item::before {
    left: 11.5%;
  }

  .summary__item:nth-child(1)::after {
    left: 16%;
  }
    
  .summary__item:nth-child(2)::after {
    left: 17.3%;
  }


  .todo {
    margin-bottom: 58px;
  }

  .todo__heading {
    text-indent: -5px;
  }

  .btn-group {
    margin-top: 43px;
  }

  .todo__article {
    padding-right: 54%;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: 437px 689px;
    background-image: url('https://via.placeholder.com/437x689.jpg/0000FF/808080?text=Todo+437x689@1x+jpg+Lg');
  }

  .todo__article__desk {
    margin-bottom: 25px;
  }

  .todo__article__link {
    padding: 20px 37px 20px 38px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: calc(0.2rem/16);
  }

  .footer-container {  
    padding-top: 48px;
    padding-bottom: 80px;
  }

  .question__heading {
    text-indent: -4px;
    margin-bottom: 37px;
  }

  .question__list {
    margin-top: 0;
    padding: 0;
    list-style: none;
  }

  .question__item {
    padding-top: 22px;
    padding-bottom: 25px;
  }

  .question__item:nth-child(1) {
    padding-top: 48px;
    padding-bottom: 42px;
  }

  .question__item:nth-child(3) {
    padding-top: 35px;
    padding-bottom: 42px;
  }

  .question__item:nth-child(5) {
    padding-top: 35px;
    padding-bottom: 42px;
  }

  .question-btn::after {
    content: '';
    position: absolute;
    right: 0;
  }

  .question_desk {
    padding-left: 0;
    font-size: 20px;
    text-align: left;
    line-height: calc(32rem/16);
  } 

  .copy {
    display: none;
  }

  .footer__logo {
    order: 2;
    margin-left: 73px;
    margin-right: 0;
    margin-bottom: 9px;
  }

  .social {
    order: 4;
    margin-left: 55px;
    margin-right: 0;
    padding-left: 18px;
  }

  .request {
    order: 1;
    margin-left: 0;
    width: 534px;
  }

  .form_input {
    width: 100%;
  }

  .request-form__heading {
    text-indent: -4px;
  }

  .request-form__button {
    margin-right: 19px;
    padding: 15px 41px 13px 38px;
  }

  .confirm__desk::before {
    margin-bottom: 5px;
  }

  .request-form__button {
    margin-right: 19px;
    padding: 15px 41px 13px 38px;
    font-size: 16px;
  }

  .footer-nav {
    order: 3;
    margin-top: 9px;
    margin-right: 73px;
    margin-left: 73px;
    padding-left: 0px;
  }

  .footer-nav__item:not(:last-child) {
    margin-bottom: 28px;
  }
}

@media screen and (max-width: 1024px) and (min-resolution: 2dppx){ 
  .intro {    
    background-image: url('https://via.placeholder.com/1848x1536.jpg/FF0000/FFFFFF?text=Banner+1848x1536@2x+jpg+Lg');
  }

  .preview {
    background-image: url('https://via.placeholder.com/1848x1280.png/FF0000/FFFFFF?text=About+1848x1280@2x+jpg+Lg');
  }

  .todo__article {
    background-image: url('https://via.placeholder.com/874x1378.jpg/FF0000/FFFFFF?text=Todo+874x1378@2x+jpg+Lg');
  }
}

@media screen and (max-width: 1024px) and (min-resolution: 3dppx){ 
  .intro {    
    background-image: url('https://via.placeholder.com/2772x2304.jpg/FFFF00/000000?text=Banner+2772x2304@3x+jpg+Lg');
  }

  .preview {
    background-image: url('https://via.placeholder.com/2772x1920.png/FFFF00/000000?text=About+2772x1920@3x+jpg+Lg');
  }

  .todo__article {
    background-image: url('https://via.placeholder.com/1311x2067.jpg/FFFF00/000000?text=Todo+1311x2067@3x+jpg+Lg');
  }
}
