@media screen and (max-width: 600px) { 
  .section_heading {
    font-size: 28px;
    line-height: 29px;
    margin-bottom: 22px;
  }

  .intro {
    margin-bottom: 38px;
    padding: 31px 14px 40px;
    text-align: center;
  }

  .intro__header {
    margin-bottom: 26px;
    font-size: 30px;
    line-height: 32px;
  }

  .intro__desk {
    margin-bottom: 35px;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: calc(0.1rem/16);
  }

  .preview {
    width: 100%;
    height: auto;
    margin-right: 0;    
    margin-bottom: 36px;
    padding-top: 250px;
    background-color: inherit;
    background-size: 100% 240px;
  }

  .preview__container {
    flex-flow: column wrap;
    align-items: flex-start;
    padding: 0;
    background: none;
  }

  .preview__container::after {
    display: none;
  }

  .preview__desk {
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    color: #333333;
  }

  .preview__btn {
    margin-left: 0;
    padding: 9px 42px 12px 42px;
    font-size: 12px;
    line-height: 15px;
    color: #ff9900;
  }

}