@media screen and (max-width: 900px) {  
  .todo__article {
    padding-right: 0;
    padding-top: 400px;
    background-position-y: top;
    background-size: 100% 400px;
  }

  .todo__article__heading {
    margin-bottom: 3px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: calc(-0.2rem/16);
  }

  .todo__article__desk {
    margin-bottom: 21px;
  }
  
  .footer-container {
    grid-template-areas: "request"
    " footer__logo"
    "social";
    justify-items: center;
    padding-top: 28px;
    padding-bottom: 5px;
  }
  
  .footer__logo {
    justify-self: center;
    margin-bottom: 17px;
    margin-left: 0;
    width: 131px;
    height: 42px;
  }

  .footer-nav {
    display: none;
    margin-bottom: 0;
  }

  .social {
    justify-content: center;
    margin: 20px auto;
    margin-top: 0;
    padding-left: 0;    
    width: 100%;   
  }
  
  .request {
    margin-bottom: 23px;
    width: 100%;
  }

}