@media all and (min-width: 1906px) {
  .container {
    max-width: 1920px;
    padding-right: 75px;
    padding-left: 75px;
  }

  .header-bar {
    padding: 14px 85px 16px 75px;
  }

  .header-logo {
    order: 1;
  }

  .header-nav {
    order: 2;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-left: auto;
    margin-right: 67px;
    padding-bottom: 3px;
  }

  .header-nav__list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 12px 0 0 0;
    padding: 0;
    list-style: none;
  }

  .header-nav__item:not(:last-child) {
    margin: 0 85px 0 0;
  }

  .header-nav__link {
    display: block;
    padding: 10px 0;
    border-bottom: 2px solid #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    transition: border-color 0.2s;
  }

  .header-nav__link:hover,
  .header-nav__link:active,
  .header-nav__link:focus {
    border-bottom-color: #FF9900;
  }

  .search-btn {
    padding: 16px;
  }

  .burger {
    display: none;
  }

  .main {
    margin-bottom: 102px;
  }

  .intro_container {
    padding-right: 75px;
    padding-left: 75px;
  }

  .intro {
    margin: 0 auto 101px auto;
    padding: 102px 850px 90px 78px;
    max-width: 1920px;
    background-image: url('https://via.placeholder.com/1770x620.jpg/0000FF/808080?text=Banner+1770x620@1x+jpg+XL');
  }

  .intro__header {
    margin-bottom: 19px;
    font-size: 70px;
    line-height: 86px;
    letter-spacing: calc(0.2rem/16);
  }

  .intro__desk {
    margin-bottom: 97px;
    font-size: 23px;
    line-height: 29px;
    letter-spacing: calc(0.5rem/16);
  }

  .btn-link {
    padding: 27px 38px 25px 41px;
    font-size: 23px;
    line-height: 29px;
    letter-spacing: calc(0.15rem/16);
  }

  .about {
    margin-bottom: 52px;
  }

  .about__heading {
    margin-bottom: 22px;
    text-indent: 0px;
  }

  .about__desk {
    margin-bottom: 42px;
    padding-right: 535px;
  }

  .summary {
    flex-flow: row wrap;
  }

  .preview {
    margin-right: 30px;
    margin-top: 0;
    height: 622px;
    width: 870px;
    background-color: #333333;
    background-image: url('https://via.placeholder.com/870x622.png/FF0000/FFFFFF?text=About+870x622@2x+jpg+XL');
  }

  .preview__container {
    padding: 40px 68px 40px 54px;
  }

  .preview__btn {
    margin-bottom: 5px;
  }

  .summary__list {
    width: 870px;
  }

  .summary__item:nth-child(1) {
    margin-bottom: 30px;
    padding: 53px 100px 48px 300px;
  }

  .summary__item:nth-child(2) {
    padding: 53px 100px 47px 300px;
  }
  
  .summary__item::before {
    top: 90px;
    left: 62px;
  }

  .summary__item:nth-child(2)::before {
    top: 87px;
    left: 62px;
  }

  .summary__item:nth-child(1)::after {
    top: 60px;
    left: 100px;
  }

  .summary__item:nth-child(2)::after {
    top: 50px;
    left: 110px;
  }

  .todo {
    margin-bottom: 100px;
  }

  .todo__heading {
    text-indent: 0;
  }

  .todo__article {
    padding-right: 1012px;
    background-image: url('https://via.placeholder.com/870x465.jpg/0000FF/808080?text=Todo+870x465@1x+jpg+XL');
    background-size: 870px;
  }

  .todo__article__desk {
    margin-bottom: 60px;
  }

  .todo__article__link {
    padding: 23px 35px 18px 40px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: calc(0.1rem/16);
  }

  .question__heading {
    text-indent: 0;
  }

  .question-btn {
    padding-left: 4px;
  }

  .question_desk {
    font-size: 24px;
    line-height: 53px;
    letter-spacing: calc(0.3rem/16);
  }

  .question__item:nth-child(1) {
    padding-top: 25px;
    padding-bottom: 32px;
  }

  .question__item:nth-child(2) {
    padding-top: 28px;
    padding-bottom: 30px;
  }

  .question__item:nth-child(3) {
    padding-top: 28px;
    padding-bottom: 30px;
  }

  .question__item:nth-child(4) {
    padding-top: 28px;
    padding-bottom: 30px;
  }

  .question__item:nth-child(5) {
    padding-top: 28px;
    padding-bottom: 30px;
  }

  .footer-container {
    justify-content: space-between;
    padding-bottom: 50px;
  }

  .footer__logo {
    margin: 0 0 10px 0;
  }

  .copy {
    order: 3;
    grid-area: copy;
    display: block;
    margin: 0 0 60px 0;
    max-width: 360px;
  }

  .request {
    margin-left: 80px;
    width: 570px;
  }

  .request-form__button {
    padding: 15px 50px 13px 53px;
    font-size: 16px;
    line-height: 32px;
  }

  .confirm {
    margin-left: 23px;
  }

  .footer-nav {
    justify-self: end;
    margin-right: 132px;
    padding: 0;
    list-style: none;
  }
}

@media screen and (min-width: 1906px) and (min-resolution: 2dppx) {
  .intro {
    background-image: url("https://via.placeholder.com/3540x1240.jpg/FF0000/FFFFFF?text=Banner+3540x1240@2x+jpg+XL");
  }

  .preview {
    background-image: url('https://via.placeholder.com/1740x1244.png/FF0000/FFFFFF?text=About+1740x1244@2x+jpg+XL');
  }

  .todo__article {
    background-image: url('https://via.placeholder.com/1740x930.jpg/FF0000/FFFFFF?text=Todo+1740x930@2x+jpg+XL');
  }
}

@media screen and (min-width: 1906px) and (min-resolution: 3dppx) {
  .intro {
    background-image: url("https://via.placeholder.com/5310x1860.jpg/FFFF00/000000?text=Banner+5310x1860@3x+jpg+XL");
  }

  .preview {
    background-image: url('https://via.placeholder.com/2610x1866.png/FFFF00/000000?text=About+2610x1866@3x+jpg+XL');
  }

  .todo__article {
    background-image: url('https://via.placeholder.com/2610x1395.jpg/FFFF00/000000?text=Todo+2610x1395@3x+jpg+XL');
  }
}