@media screen and (max-width: 1500px) {
  .preview__container {
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 38px 15px 44px 54px;
  }

  .preview__desk {
    width: 100%;
  }

  .preview__btn {
    margin-left: 0;
    margin-top: 20px;
  }

  .summary__item:nth-child(1) {
    padding: 55px 10% 45px 39.5%;
  }

  .summary__item:nth-child(2) {
    padding: 50px 10% 49px 39.5%;
  }

  .copy {
    display: none;
  }

  .footer__logo {
    order: 2;
    margin-left: auto;
    margin-right: 50px;
    margin-bottom: 0;
  }

  .social {
    order: 4;
    margin-left: auto;
    margin-right: 40px;
  }

  .social__item:not(:last-child) {
    margin-right: 25px;
  }

  .social__item__link {
    display: block;
    padding: 30px;
  }

  .request {
    order: 1;
    width: 57.8%;
  }

  .form_input {
    width: 100%;
  }

  .request-form__heading {
    text-indent: -4px;
  }

  .request-form__button {
    margin-right: 19px;
    padding: 15px 41px 13px 38px;
  }

  .confirm__desk::before {
    margin-bottom: 5px;
  }

  .footer-nav {
    order: 3;
    margin-top: 1%;
    margin-right: 8%;
  }

  .footer-nav__item:not(:last-child) {
    margin-bottom: 28px;
  }
}